# RUN python contrib/secret_gen.py to generate a new SECRET_KEY
SECRET_KEY=5%r913*8plc41vmmn5dkl7#ey2l)t5w)*3dn#bgx*p!-qi2mq1
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, .localhost
AWS_ACCESS_KEY_ID=CONFIGURAR
AWS_SECRET_ACCESS_KEY=CONFIGURAR
AWS_STORAGE_BUCKET_NAME=CONFIGURAR
FACEBOOK_BOT_ACCESS_TOKEN=
FACEBOOK_PAGE_ID=
DOKKU_APP_NAME=
SERVER_IP=
# alias dokku='ssh dokku@'
# dokku run tety python manage.py migrate
# dokku config:set tety
# ssh root@
# DEBUG=False ma collectstatic
# devdokku run tety python manage.py loaddata
# ./manage.py loaddata src/fixtures/users.json
# ./manage.py  dumpdata auth.User --indent=2 > src/fixtures/user.json
# ../../manage.py makemessages -l es