:root {
    /*
    Modelo de cor:
            -- componente - bg|text: cor
     */
    --nav-bg: #0085C3;
    --nav-bg-hover: #0085C3;
    --nav-text-color: #fff;
    --footer-bg: #0275D8;
    --body-bg: #ededed;
    --card-basic-bg: #fff;
    --card-basic-text: #000a07;
    --botao-bg-grande: #3a9ade;
    --botao-bg-grande-hover: #319fee;
    --hr-titulo-color: #fff;
    --card-header-bg: #f8f8f8;
}
html,
body {
    height: 100%;
    background-color: var(--body-bg) !important;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -80px 0;
    /* Pad bottom by footer height */
    padding: 0 0 80px 0;
}
/* Set the fixed height of the footer here */

/*
  *************  Flags  ************
*/
/* Flags */
.input-flag {
    width: 32px;
    height: 22px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    /*margin-left: 5px;*/
    float: right;
    /*position: relative;*/
    /*bottom: 10px;*/

}
.flags {
    vertical-align: middle;
    padding: 10px 10px 15px;
}
/* Final Flags */

/*
  *************  Widgets  ************
*/
/*Cards*/
.hr-titulo {
    border-top: 2px solid var(--hr-titulo-color)!important;
    width: 100%;
    max-width: 100% !important;
}
.card-header {
    border-bottom: 0px !important;
    background-color: var(--card-header-bg)!important;
}
.card-form {
}

.card-basic {
    background-color: var(--card-basic-bg);
    color: var(--card-basic-text);
    padding: 15px 20px 10px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px rgba(116, 116, 116, 0.25);
    -moz-box-shadow: 0 2px 2px rgba(116, 116, 116, 0.25);
    box-shadow: 0 2px 2px rgba(116, 116, 116, 0.25);
}
.card-basic>button {
    text-align: center;
}
/* Others*/

.shadow {
    -webkit-box-shadow: 0 2px 2px rgba(116,116,116,0.25);
    -moz-box-shadow: 0 2px 2px rgba(116,116,116,0.25);
    box-shadow: 0 2px 2px rgba(116,116,116,0.25);
}
/* Button*/
.btn-grande  {
    color: #fff !important;
    font-weight: 900;
    background-color: var(--botao-bg-grande);
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px rgba(116,116,116,0.25);
    -moz-box-shadow: 0 2px 2px rgba(116,116,116,0.25);
    box-shadow: 0 2px 2px rgba(116,116,116,0.25);
}
.btn-grande:hover {
        background-color: var(--botao-bg-grande-hover);

}
/* Form */
.footer-form {
    text-align: center;
}

/* */
/* Final Widgets */


html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
    color: #001A33;
    webkit-tap-highlight-color: #222;
    top:0;
}
a {
    color: #007FFF;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
    font-family:'Helvetica Neue',Arial,sans-serif;
}

.text-normal {
    font-family:'Helvetica Neue',Arial,sans-serif;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #007FFF;
}

.bg-alt {
    background-color: #fff;
}

.text-faded {
    color: rgba(245,245,245,0.7);
}

.text-dark {
    color: #001A33!important;
}

.text-light {
    color: #fff !important;
}

.text-light:hover,.text-light:focus {
    color: #eee;
    text-decoration:none;
}
.text-primary {
    color: #1f1d1d;
}
.section-single {
    margin-top: 120px;
    margin-bottom: 30px;
}